.container {
  display: flex;
  height: 100vh;
  column-gap: 2rem;
  background-color: #f5f5f5;
}

/* sidebar */
.sidemenu_container {
  flex: 0.2;
  background-color: #fff;
}

.sidemenu_container > h1 {
  padding: 1rem;
}
.sidemenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
  padding: 1rem;
}

.sidemenu_list {
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.sidemenu_list li {
  display: flex;
  padding: 0.3rem;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: #313131;
}

.sidemenu_list li:hover {
  color: #1d5bc0;
  background-color: #f0f0f0;
}

.sidemenu_title {
  font-size: 18px;
  font-weight: 600;
  flex: 0.6;
}

.sidemenu_icon {
  flex: 0.2;
}

/* Home */
.homeComponent {
  flex: 0.8;
  padding: 2rem;
  background-color: #fff;
}

.input_search > input {
  width: 50%;
  margin: 1rem 0;
  padding: 0.4rem;
  font-size: 18px;
}

table {
  width: 100%;
}
table,
th,
td {
  /* border: 1px solid lightgray; */
  border-collapse: collapse;
  padding: 10px;
}

thead > tr {
  background-color: #357ae8;
  color: #fff;
  text-align: left;
}

tbody > tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* pagination */
.pagination-container {
  padding: 1rem 0;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.page-number {
  padding: 5px 10px;
  background-color: #fafafa;
  color: #1d5bc0;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.page-number.active {
  background-color: #1d5bc0;
  border: none;
  color: #fff;
}
.page-number:hover {
  background-color: #1d5bc0;
  color: #fff;
}

.prev-btn,
.next-btn {
  padding: 5px 10px;
  background-color: #fafafa;
  color: #1d5bc0;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  transition: 0.3s;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #1d5bc0;
  color: #fff;
  border: 1px solid #1d5bc0;
}

.prev-btn:disabled,
.next-btn:disabled {
  display: none;
}
